In [4]:
import json
import pickle

In [5]:
with open("DATA/times.pickle", "rb") as f:
    times = pickle.load(f)

In [12]:
with open("DATA/sun_updown.json", "r") as f:
    sun_pos = json.load(f)

In [178]:
with open("DATA/score_info.json", "r") as f:
    score_info = json.load(f)

In [11]:
times[0].utc_strftime()

'2000-12-21 01:51:00 UTC'

In [20]:
from pytz import timezone

china = timezone('Asia/Shanghai')

In [21]:
str(times[0].astimezone(chi))

'2000-12-21 09:51:00+08:00'

In [ ]:
#period data 


#2017
#jan 19-23 #index [2059, 2418]

#feb 24-28 #[4651, 5010]

#march 28-april 2 #[6955, 7386]

#2016
#april 20-27 #[8611, 9186]

#june 2-8 #[11707, 12210]

#july 3-11 #[13939, 14586]

#july 27-august 4 #[15667, 16314]

#august 22-28 #[17539, 18042]

#october 7 - 11 [20851, 21210]

#November 8 - 13 [23155, 23586]

#december 12 - 17 [25603, 26034]

In [1]:
period_t_inds = [[2059, 2418], [4651, 5010], [6955, 7386], [8611, 9186],
                [11707, 12210], [13939, 14586], [15667, 16314], [17539, 18042], 
                [20851, 21210], [23155, 23586], [25603, 26034]]

In [6]:
period_activation = [] #from t = start to t = end - 1, period_activation[t] = True, else False

for i in range(len(times)): 
    period_activation.append(False)

In [10]:
for period in period_t_inds:
    start = period[0]
    end = period[1]
    
    for i in range(start, end):
        period_activation[i] = True

In [14]:
with open("DATA/period_activation.json", "w") as f:
    json.dump(period_activation, f)

In [310]:
with open("DATA/period_t_inds.json", "w") as f:
    json.dump(period_t_inds, f)

In [221]:
for period in period_t_inds:
    start = times[period[0]]
    end = times[period[1]]
    
    print(str(start.astimezone(china)), str(end.astimezone(china)))

2001-01-19 00:11:00+08:00 2001-01-23 23:51:00+08:00
2001-02-24 00:11:00+08:00 2001-02-28 23:51:00+08:00
2001-03-28 00:11:00+08:00 2001-04-02 23:51:00+08:00
2001-04-20 00:11:00+08:00 2001-04-27 23:51:00+08:00
2001-06-02 00:11:00+08:00 2001-06-08 23:51:00+08:00
2001-07-03 00:11:00+08:00 2001-07-11 23:51:00+08:00
2001-07-27 00:11:00+08:00 2001-08-04 23:51:00+08:00
2001-08-22 00:11:00+08:00 2001-08-28 23:51:00+08:00
2001-10-07 00:11:00+08:00 2001-10-11 23:51:00+08:00
2001-11-08 00:11:00+08:00 2001-11-13 23:51:00+08:00
2001-12-12 00:11:00+08:00 2001-12-17 23:51:00+08:00

In [224]:
#now convert t to timestamp
#each t lasts 2 frames 
#24 frames per second 

def t_to_timestamp(t_ind): 
    
    frames = t_ind*2 
    seconds, frames = divmod(frames, 24)
    minutes, seconds = divmod(seconds, 60)
    
    return minutes, seconds, frames

In [241]:
period_timestamps = []

for period in period_t_inds: 
    start = period[0]
    end = period[1]
    
    start_stamp = t_to_timestamp(start)
    end_stamp = t_to_timestamp(end)
    
    period_stamps = [start_stamp, end_stamp]
    period_timestamps.append(period_stamps)

In [243]:
with open("DATA/period_timestamps.json", "w") as f:
    json.dump(period_timestamps, f)

In [297]:
#for sun stamps, do the whole daylight time for the shot days 

#shot days:
#(2024)
#jan 4 [1001, 1031]
#jan 18 [2009, 2040]
#feb 1 [3017, 3049]
#feb 15 [4024, 4057]
#feb 29 [4960, 4994]
#march 14 [5967, 6002]
#(2023)
#march 30 [7118, 7155]
#april 13 [8125, 8164]
#april 27 [9132, 9172]
#may 11 [10139, 10181]
#may 25 [11147, 11189]
#june 8 [12154, 12198]
#june 22 [13162, 13206]
#july 6 [14171, 14214]
#july 20 [15179, 15222]
#aug 3 [16188, 16229]
#aug 17 [17196, 17236]
#aug 30 [18133, 18172]
#sept 13 [19141, 19179]
#sept 27 [20150, 20186]
#oct 10 [21086,  21121]
#oct 25 [22167, 22200]
#nov 7 [23103, 23135]
#nov 20 [24040, 24071]
#dec 4 [25049, 25079]
#dec 18 [26057, 26087]

In [18]:
shot_t_inds = [[1001, 1031], [2009, 2040], [3017, 3049], [4024, 4057],[4960, 4994],[5967, 6002], 
              [7118, 7155], [8125, 8164], [9132, 9172], [10139, 10181], [11147, 11189], 
              [12154, 12198], [13162, 13206], [14171, 14214], [15179, 15222], [16188, 16229], 
              [17196, 17236], [18133, 18172], [19141, 19179], [20150, 20186], [21086,  21121], 
              [22167, 22200], [23103, 23135], [24040, 24071], [25049, 25079], [26057, 26087] ]

In [15]:
shot_activation = []

for t in times:
    shot_activation.append(False)

In [19]:
for shot in shot_t_inds:
    start = shot[0]
    end = shot[1]
    
    for i in range(start, end):
        shot_activation[i] = True

In [22]:
with open("DATA/shot_activation.json", "w") as f:
    json.dump(shot_activation, f)

In [305]:
len(shot_t_inds)

26

In [306]:
#convert shot inds to timestamps 
shot_timestamps = []
for shot in shot_t_inds:
    start = shot[0]
    end = shot[1]
    
    start_time = t_to_timestamp(start)
    end_time = t_to_timestamp(end)
    
    timestamp = [start_time, end_time]
    
    shot_timestamps.append(timestamp)

In [309]:
with open("DATA/shot_t_inds.json", "w") as f:
    json.dump(shot_t_inds, f)

In [307]:
shot_timestamps

[[(1, 23, 10), (1, 25, 22)],
 [(2, 47, 10), (2, 50, 0)],
 [(4, 11, 10), (4, 14, 2)],
 [(5, 35, 8), (5, 38, 2)],
 [(6, 53, 8), (6, 56, 4)],
 [(8, 17, 6), (8, 20, 4)],
 [(9, 53, 4), (9, 56, 6)],
 [(11, 17, 2), (11, 20, 8)],
 [(12, 41, 0), (12, 44, 8)],
 [(14, 4, 22), (14, 8, 10)],
 [(15, 28, 22), (15, 32, 10)],
 [(16, 52, 20), (16, 56, 12)],
 [(18, 16, 20), (18, 20, 12)],
 [(19, 40, 22), (19, 44, 12)],
 [(21, 4, 22), (21, 8, 12)],
 [(22, 29, 0), (22, 32, 10)],
 [(23, 53, 0), (23, 56, 8)],
 [(25, 11, 2), (25, 14, 8)],
 [(26, 35, 2), (26, 38, 6)],
 [(27, 59, 4), (28, 2, 4)],
 [(29, 17, 4), (29, 20, 2)],
 [(30, 47, 6), (30, 50, 0)],
 [(32, 5, 6), (32, 7, 22)],
 [(33, 23, 8), (33, 25, 22)],
 [(34, 47, 10), (34, 49, 22)],
 [(36, 11, 10), (36, 13, 22)]]

In [308]:
with open("DATA/shot_timestamps.json", "w") as f:
    json.dump(shot_timestamps, f)

In [303]:
i = 0
found = False

while not found:
    time = times[i].astimezone(china)
    if time.month == 12:
        if time.day == 18:
            found = True 
            print(i, str(time))
    i+= 1
    
day_t = i - 1

i = day_t
sun_found = False

while not sun_found:
    sun = sun_pos[i]
    if sun:
        sun_found = True
        print(i-1, sun_pos[i-1])
        print(i, sun_pos[i])
        print(i, times[i].astimezone(china))
    i += 1

sun_up_t = i - 1
print(sun_up_t)

i = sun_up_t
sun_down = False

while not sun_down:
    sun = sun_pos[i]
    if not sun:
        sun_down = True
        print(i-1, sun_pos[i-1])
        print(i, sun_pos[i])
        print(i, times[i].astimezone(china))
        
    i += 1
    
sun_down_t = i - 1

print(sun_up_t, sun_down_t)

26035 2001-12-18 00:11:00+08:00
26056 False
26057 True
26057 2001-12-18 07:31:00+08:00
26057
26086 True
26087 False
26087 2001-12-18 17:31:00+08:00
26057 26087

In [280]:
i = 9115
sun_found = False

while not sun_found:
    sun = sun_pos[i]
    if sun:
        sun_found = True
        print(i-1, sun_pos[i-1])
        print(i, sun_pos[i])
        print(i, times[i].astimezone(china))
    i += 1

9131 False
9132 True
9132 2001-04-27 05:51:00+08:00

In [281]:
i = 9132
sun_down = False

while not sun_down:
    sun = sun_pos[i]
    if not sun:
        sun_down = True
        print(i-1, sun_pos[i-1])
        print(i, sun_pos[i])
        print(i, times[i].astimezone(china))
        
    i += 1

9171 True
9172 False
9172 2001-04-27 19:11:00+08:00

In [249]:
str(times[979].astimezone(china))

'2001-01-04 00:11:00+08:00'

In [251]:
sun_pos[980]

False

In [239]:
t_to_timestamp()

(36, 36, 0)

In [219]:
str(times[26034].astimezone(china))

'2001-12-17 23:51:00+08:00'

In [217]:
25603 + 24*3*6

26035

In [188]:
24*3*17

1224

In [246]:
times[0].astimezone(china).day

21